body {
  padding: 1.5rem;
}
div {
  margin: 1.5rem;
}

.mozaic-background {
  background-color: #fff;
  background-image: linear-gradient(
      45deg,
      #333 25%,
      transparent 25%,
      transparent 75%,
      #333 75%,
      #333
    ),
    linear-gradient(
      -45deg,
      #333 25%,
      transparent 25%,
      transparent 75%,
      #333 75%,
      #333
    );
  height: 250px;
  background-size: 50px 50px;
}

.graph-paper {
  background-color: #eaeaea;
  background-size: 20px 20px;
  height: 250px;
  background-image: repeating-linear-gradient(
      45deg,
      rgba(0, 191, 255, 0.5),
      rgba(0, 191, 255, 0.5),
      1px,
      transparent 1px,
      transparent 15px
    ),
    repeating-linear-gradient(
      -45deg,
      rgba(0, 191, 255, 0.5),
      rgba(0, 191, 255, 0.5),
      1px,
      transparent 1px,
      transparent 15px
    );
}
